In [1]:
import pandas as pd

In [7]:
df = pd.read_csv(r'C:\Users\matth\Documents\GitHub\rat-city\data\processed_data\feature_data.csv')

In [13]:
df = df.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

Index(['zipcode', 'population', 'area', 'geometry', 'rat count', 'score',
       'critical flag', 'action', 'cuisine description_afghan',
       'cuisine description_african',
       ...
       'cuisine description_vegan', 'cuisine description_vegetarian',
       'avg score', 'avg flags', 'postcode', 'sidewalk dimensions (area)',
       'roadway dimensions (area)', 'approved for sidewalk seating',
       'approved for roadway seating', 'qualify alcohol'],
      dtype='object', length=101)

In [16]:
df.columns= df.columns.str.lower()

,zipcode,population,area,geometry,rat count,score,critical flag,action,cuisine description_afghan,cuisine description_african,...,cuisine description_vegan,cuisine description_vegetarian,avg score,avg flags,postcode,sidewalk dimensions (area),roadway dimensions (area),approved for sidewalk seating,approved for roadway seating,qualify alcohol
0,11213,62426.0,2.963100e+07,POLYGON ((1001613.7129640579 186926.4395172149...,384,810.5,100.5,0.0,0,1,...,0,1,10.952703,1.358108,11213,4751.0,1848.0,14,9,8
1,11212,83866.0,4.197210e+07,"POLYGON ((1011174.275535807 183696.33770971, 1...",165,855.0,99.0,0.0,0,0,...,0,0,10.426829,1.207317,11212,528.0,688.0,6,6,4
2,11225,56527.0,2.369863e+07,POLYGON ((995908.3654508889 183617.61280155182...,364,1054.5,127.5,0.0,0,0,...,0,2,11.461957,1.385870,11225,8963.0,4774.0,32,20,28
3,11218,72280.0,3.686880e+07,"POLYGON ((991997.1134308875 176307.4958601296,...",315,1163.5,141.0,0.0,1,0,...,0,0,11.519802,1.396040,11218,16750.0,5500.0,41,19,22
4,11226,106132.0,3.940860e+07,"POLYGON ((994821.4729396403 177865.7178093046,...",627,1677.0,185.5,0.0,0,2,...,1,4,10.889610,1.204545,11226,9653.0,3624.0,38,25,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,11361,28496.0,5.016352e+07,POLYGON ((1048944.1671874821 222063.5749514699...,34,852.0,108.5,0.0,0,0,...,0,0,10.265060,1.307229,11361,21923.0,8624.0,71,44,66
180,10036,23543.0,1.139511e+07,POLYGON ((989419.2127468139 215672.08773446083...,122,3477.5,425.0,0.0,0,0,...,2,1,10.506042,1.283988,10036,57088.0,34440.0,157,149,160
181,11414,26148.0,6.392882e+07,POLYGON ((1025670.681254223 184011.38038671017...,35,447.0,51.0,0.0,0,0,...,0,0,11.175000,1.275000,11414,13247.0,2264.0,13,3,11
182,10310,25003.0,5.346328e+07,"POLYGON ((950767.5065858066 172848.9686564654,...",67,533.5,51.5,0.0,0,0,...,0,0,11.351064,1.095745,10310,2646.0,1760.0,6,6,6
183,11249,28481.0,1.777221e+07,POLYGON ((995877.3182688951 203206.07493688166...,168,1340.5,157.0,0.0,0,0,...,1,0,10.555118,1.236220,11249,37383.0,36666.0,100,118,90

In [35]:
cuisine = df.columns.str.startswith('cuisine')

df['total_number_restaurants'] = df.iloc[:,cuisine].sum(axis=1)

In [39]:
df.drop(columns=['num_restaurants'])

,zipcode,population,area,geometry,rat count,score,critical flag,action,cuisine description_afghan,cuisine description_african,...,cuisine description_vegetarian,avg score,avg flags,postcode,sidewalk dimensions (area),roadway dimensions (area),approved for sidewalk seating,approved for roadway seating,qualify alcohol,total_number_restaurants
0,11213,62426.0,2.963100e+07,POLYGON ((1001613.7129640579 186926.4395172149...,384,810.5,100.5,0.0,0,1,...,1,10.952703,1.358108,11213,4751.0,1848.0,14,9,8,74
1,11212,83866.0,4.197210e+07,"POLYGON ((1011174.275535807 183696.33770971, 1...",165,855.0,99.0,0.0,0,0,...,0,10.426829,1.207317,11212,528.0,688.0,6,6,4,82
2,11225,56527.0,2.369863e+07,POLYGON ((995908.3654508889 183617.61280155182...,364,1054.5,127.5,0.0,0,0,...,2,11.461957,1.385870,11225,8963.0,4774.0,32,20,28,92
3,11218,72280.0,3.686880e+07,"POLYGON ((991997.1134308875 176307.4958601296,...",315,1163.5,141.0,0.0,1,0,...,0,11.519802,1.396040,11218,16750.0,5500.0,41,19,22,101
4,11226,106132.0,3.940860e+07,"POLYGON ((994821.4729396403 177865.7178093046,...",627,1677.0,185.5,0.0,0,2,...,4,10.889610,1.204545,11226,9653.0,3624.0,38,25,19,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,11361,28496.0,5.016352e+07,POLYGON ((1048944.1671874821 222063.5749514699...,34,852.0,108.5,0.0,0,0,...,0,10.265060,1.307229,11361,21923.0,8624.0,71,44,66,83
180,10036,23543.0,1.139511e+07,POLYGON ((989419.2127468139 215672.08773446083...,122,3477.5,425.0,0.0,0,0,...,1,10.506042,1.283988,10036,57088.0,34440.0,157,149,160,331
181,11414,26148.0,6.392882e+07,POLYGON ((1025670.681254223 184011.38038671017...,35,447.0,51.0,0.0,0,0,...,0,11.175000,1.275000,11414,13247.0,2264.0,13,3,11,40
182,10310,25003.0,5.346328e+07,"POLYGON ((950767.5065858066 172848.9686564654,...",67,533.5,51.5,0.0,0,0,...,0,11.351064,1.095745,10310,2646.0,1760.0,6,6,6,47
183,11249,28481.0,1.777221e+07,POLYGON ((995877.3182688951 203206.07493688166...,168,1340.5,157.0,0.0,0,0,...,0,10.555118,1.236220,11249,37383.0,36666.0,100,118,90,127

In [40]:
df.to_csv(r'C:\Users\matth\Documents\GitHub\rat-city\data\processed_data\feature_data.csv',index=False)